/Config/
/Configs/
/Widgets/-HasViewChanged.old
/Widgets/-MyClicks2.old
/Widgets/2018-11-03 03_00_58-CC-Keyboard-Charcodes.png
/Widgets/AA_test.lua
/Widgets/A_test.lua
/Widgets/Copie de gang_up.png
/Widgets/_BlendTest.lua
/Widgets/_Blend_test2.lua
/Widgets/_StencilTest.lua
/Widgets/gui_hilight_unit.lua
/Widgets/unused-unusable-obsolete-abandoned/
/WidgetsOLD/
/Widgets/Drawings/
*.sublime-workspace
*.sublime-project
*.sublime-workspace
*.LOG
*.old
*.MY
*.forzk
*.prev
*.backup
*.CURRENT
*.old.lua
*.ori