/Config/
/Configs/
/Widgets/-HasViewChanged.old
/Widgets/-MyClicks2.old
/Widgets/2018-11-03 03_00_58-CC-Keyboard-Charcodes.png
/Widgets/AA_test.lua
/Widgets/A_test.lua
/Widgets/Copie de gang_up.png
/Widgets/DrawFromImage.backup
/Widgets/SmartBuilders.CURRENT
/Widgets/SmartBuilders.LOG
/Widgets/_BlendTest.lua
/Widgets/_Blend_test2.lua
/Widgets/_StencilTest.lua
/Widgets/chili.sublime-project
/Widgets/chili.sublime-workspace
/Widgets/chili/Controls/control.bkup
/Widgets/dbg_widget_profiler_new.backup
/Widgets/debug_center.LOG
/Widgets/lobby.sublime-project
/Widgets/lobby.sublime-workspace
/Widgets/snd_music2.MY
/Widgets/snd_music2.old
/Widgets/unit_ghostSite2.1.old
/Widgets/unit_ghostSite2.old
/Widgets/unit_infos_on_icons.prev
/Widgets/unit_initial_queue.forzk
/Widgets/unit_initial_queue.old
/Widgets/unused-unusable-obsolete-abandoned/
/Widgets/zk.sublime-project
/Widgets/zk.sublime-workspace
/WidgetsOLD/
/Widgets/Drawings/